* {
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure, figcaption, button {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

@font-face {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Public+Sans:wght@500;700&family=Work+Sans:wght@600&display=swap");
}
*::-webkit-input-placeholder {
  color: #757575;
  opacity: 1;
}

*:-moz-placeholder {
  color: #757575;
  opacity: 1;
}

*::-moz-placeholder {
  color: #757575;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #757575;
  opacity: 1;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

body {
  font-family: "Public Sans", sans-serif;
}

a, button {
  cursor: pointer;
  transition: all ease-in 0.2s;
  text-decoration: none;
  outline: none;
}

.modal-tamplate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBDCEE;
  height: 100vh;
  width: 100vw;
  padding: 0 15px;
}

.form {
  width: 100%;
  max-width: 474px;
  background-color: white;
  border-radius: 23px;
  padding: 32px 32px 24px;
  position: relative;
  z-index: 2;
}
.form__border {
  position: absolute;
  top: -10px;
  left: -9px;
  width: 105%;
  height: 578px;
  z-index: -1;
}
@media only screen and (max-width: 624px) {
  .form__border {
    height: 582px;
  }
}
@media only screen and (max-width: 478px) {
  .form__border {
    height: 622px;
  }
}
@media only screen and (max-width: 398px) {
  .form__border {
    height: 658px;
  }
}
@media only screen and (max-width: 386px) {
  .form__border {
    height: 734px;
  }
}
.form__title {
  font-weight: 700;
  font-size: 25.0823px;
  line-height: 32px;
  margin-bottom: 48px;
}
@media only screen and (max-width: 478px) {
  .form__title {
    margin-bottom: 22px;
  }
}

.title-wrapper {
  position: relative;
  padding: 5px 0;
  margin-bottom: 18px;
}
.title-wrapper .simbol-counter {
  position: absolute;
  top: 6px;
  right: 0;
  color: #757575;
  font-family: "Public Sans" sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.input-text {
  width: 100%;
  height: 46px;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
  padding-right: 65px;
}
.input-text::placeholder {
  font-family: "Public Sans" sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.description-wrapper {
  padding: 5px 0;
  margin-bottom: 18px;
}

.radio-title {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #757575;
  margin-right: 32px;
}
@media only screen and (max-width: 398px) {
  .radio-title {
    display: block;
    margin-bottom: 8px;
  }
}

/************/
.custom-radios {
  padding: 5px 0;
  margin-bottom: 18px;
}
.custom-radios div {
  display: inline-block;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.custom-radios input[type=radio] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-radios input[type=radio]#color-1 + label span {
  background-color: #878C93;
}
.custom-radios input[type=radio]#color-2 + label span {
  background-color: #6153CC;
}
.custom-radios input[type=radio]#color-3 + label span {
  background-color: #FF715B;
}
.custom-radios input[type=radio]#color-4 + label span {
  background-color: #151515;
}
.custom-radios input[type=radio]#color-5 + label span {
  background-color: #FFB627;
}
.custom-radios input[type=radio]:checked + label span img {
  opacity: 1;
}

.select-wrapper {
  padding: 5px 0;
  margin-bottom: 18px;
}

.select {
  width: 100%;
  max-width: 410px;
  position: relative;
}
.select__header {
  display: flex;
  align-items: center;
  border: 1px solid #757575;
  border-radius: 10px;
  cursor: pointer;
  height: 46px;
  padding-left: 46px;
  position: relative;
}
.select__current {
  font-family: "Public Sans" sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #757575;
}
.select__icon-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 16px;
}
.select__icon-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  position: absolute;
  right: 16px;
  transition: transform 0.1s linear;
}
.select__icon-arrow--active {
  transform: rotate(180deg);
}
.select__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: none;
  border-top: none;
}
.select__body--active {
  display: block;
  background-color: white;
}
.select__item {
  font-family: "Public Sans" sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #757575;
  cursor: pointer;
  padding: 8px;
}
.select__item:hover {
  background-color: #f2f2f2;
}

/***********/
/*************/
.date-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  margin-bottom: 18px;
}
@media only screen and (max-width: 478px) {
  .date-wrapper {
    flex-direction: column;
    margin-bottom: 6px;
  }
}

.input-date {
  height: 48px;
  width: 100%;
  max-width: 190px;
  border-radius: 10px;
  border: 1px solid #757575;
  padding-left: 38px;
  background-image: url("../img/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: 8px 8px;
}
.input-date ::placeholder {
  font-family: "Public Sans";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
@media only screen and (max-width: 478px) {
  .input-date {
    max-width: 420px;
    margin-bottom: 18px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  gap: 20px;
  border-top: 1px solid #9797AA;
}
@media only screen and (max-width: 386px) {
  .button-wrapper {
    flex-direction: column;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}
.button--primary {
  width: 100%;
  max-width: 179px;
  height: 55px;
  color: rgba(21, 25, 32, 0.5);
  background-color: #F5F7FB;
}
@media only screen and (max-width: 386px) {
  .button--primary {
    max-width: 294px;
  }
}
.button--secondary {
  width: 100%;
  max-width: 179px;
  height: 55px;
  color: white;
  background-color: #5F65F6;
}
@media only screen and (max-width: 386px) {
  .button--secondary {
    max-width: 294px;
  }
}
.button--text {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  color: #757575;
}/*# sourceMappingURL=style.css.map */