@import 'libs/reset.scss';
@import 'libs/sitings.scss';
@import 'libs/media.scss';


.modal-tamplate{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    height: 100vh;
    width: 100vw;
    padding: 0 15px
}

.form{
    width: 100%;
    max-width: 474px;
    background-color: $form-background-color;
    border-radius: 23px;
    padding: 32px 32px 24px;
    position: relative;
    z-index: 2;    

    &__border{
      position: absolute;
      top: -10px;
      left: -9px; 
      width: 105%;     
      height: 578px;
      z-index: -1;

      @include respond-to(624px){
        height: 582px;
      }
      @include respond-to(478px){
        height: 622px;
      }
      @include respond-to(398px){
        height: 658px;
      }
      @include respond-to(386px){
        height: 734px;
      }
    }
    &__title{
        font-weight: 700;
        font-size: 25.0823px;
        line-height: 32px;
        margin-bottom: 48px;

        @include respond-to(478px){
          margin-bottom: 22px;
        }
    }
}
.title-wrapper{
  position: relative;
  padding: 5px 0;
  margin-bottom: 18px;

  .simbol-counter{
    position: absolute;
    top: 6px;
    right: 0;
    color: $form-text-color;
    font-family: 'Public Sans' sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
}
.input-text{
    width: 100%;
    height: 46px;
    border: none;
    border-bottom: 1px solid $form-text-color;
    outline: none;
    padding-right: 65px;

    &::placeholder{
      font-family: 'Public Sans' sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
    }
}

.description-wrapper{
  padding: 5px 0;
  margin-bottom: 18px;
}


.radio-title{
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: $form-text-color;
    margin-right: 32px;

    @include respond-to(398px){
      display: block;
      margin-bottom: 8px;
    }
}
/************/

.custom-radios {
  
  $color-1: #878C93;
  $color-2: #6153CC;
  $color-3: #FF715B;
  $color-4: #151515;
  $color-5: #FFB627;

    padding: 5px 0;
    margin-bottom: 18px;
    div {
      display: inline-block;
    }
  
    input[type="radio"] {
      display: none;
  
      + label {

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 28px;
          height: 28px;
          margin: -1px 4px 0 0;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center;
          text-align: center;
          
          img {
            opacity: 0;
            transition: all .3s ease;
          }
        }
      }
  
      &#color-1 + label span {
        background-color: $color-1;
      }
  
      &#color-2 + label span {
        background-color: $color-2;
      }
  
      &#color-3 + label span {
        background-color: $color-3;
      }
  
      &#color-4 + label span {
        background-color: $color-4;
      }

      &#color-5 + label span {
        background-color: $color-5;
      }
  
      &:checked + label span img {
        opacity: 1;
      }
    }
  }

.select-wrapper{
  padding: 5px 0;
  margin-bottom: 18px;
}
.select{
  width: 100%;
  max-width: 410px;
  position: relative;

  &__header{
    display: flex;
    align-items: center;
    border: 1px solid $form-text-color;
    border-radius: 10px;
    cursor: pointer;
    height: 46px;
    padding-left: 46px;
    position: relative;
  }
  &__current{
    font-family: 'Public Sans' sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: $form-text-color;
  }
  &__icon-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 16px;
  }
  &__icon-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 16px;
    transition: transform .1s linear;

    &--active{
      transform: rotate(180deg)
    }
  }
  &__body{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none;
    border-top: none;

    &--active{
      display: block;
      background-color: #ffff;
    }
  }
  &__item{
    font-family: 'Public Sans' sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #757575;
    cursor: pointer;
    padding: 8px;
  }
  &__item:hover{
    background-color: #f2f2f2;
  }
}
/***********/
/*************/
.date-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin-bottom: 18px;

    @include respond-to(478px){
      flex-direction: column;
      margin-bottom: 6px;
    }
}

.input-date{
  height: 48px;
  width: 100%;
  max-width: 190px;
  border-radius: 10px;
  border: 1px solid $form-text-color;
  padding-left: 38px;
  background-image: url('../img/calendar-icon.svg');
  background-repeat: no-repeat;
  background-position: 8px 8px;

  ::placeholder{
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  @include respond-to(478px){
    max-width: 420px;
    margin-bottom: 18px;
  }

}

.button-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    gap: 20px;
    border-top: 1px solid #9797AA;

    @include respond-to(386px){
      flex-direction: column;
    }
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;

    &--primary{
      width: 100%;
      max-width: 179px;
      height: 55px;
      color: rgba(21, 25, 32, 0.5);
      background-color: #F5F7FB;

      @include respond-to(386px){
        max-width: 294px;
      }
    }
    &--secondary{
      width: 100%;
      max-width: 179px;
      height: 55px;
      color: #ffff;
      background-color: #5F65F6;

      @include respond-to(386px){
        max-width: 294px;
      }
    }
    &--text{
      font-family: 'Public Sans', sans-serif;
      font-weight: 500;
      font-size: 18px;
      width: auto; 
      height: auto;
      background-color: transparent;
      color: $form-text-color;
    }
}