@mixin respond-to($media) {
    @if $media == lg {
      @media only screen and (max-width : 1200px) {
        @content
      }
      }
      @else if $media == md {
          @media only screen and (max-width : 992px) {
        @content
      }
      }
      @else if $media == sm {
          @media only screen and (max-width : 768px) {
        @content
      }
      }
    @else if $media == xs {
          @media only screen and (max-width : 480px) {
        @content
      }
      }
      @else {
          @media only screen and (max-width : $media) {
        @content
      }
      }
  }
  