$background-color: #DBDCEE;
$default-color-text: #151515;
$default-placeholder-color: #757575;
$form-text-color: #757575; 
$form-background-color: #ffff;


@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Public+Sans:wght@500;700&family=Work+Sans:wght@600&display=swap');
}


*::-webkit-input-placeholder        {color: $default-placeholder-color;	opacity: 1;}
*:-moz-placeholder                  {color: $default-placeholder-color;	opacity: 1;}
*::-moz-placeholder                 {color: $default-placeholder-color; opacity: 1;}
*:-ms-input-placeholder             {color: $default-placeholder-color; opacity: 1;}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

body{
    font-family: 'Public Sans', sans-serif;
}

a, button {
  cursor: pointer; 
  transition: all ease-in .2s; 
  text-decoration: none;
  outline: none;
}

